# 通用
*.log
.DS_Store
Thumbs.db
*.bak
*.swp
*.tmp

# Node.js
node_modules/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# Java
*.class
*.jar
*.war
*.ear
target/
out/
build/

# C/C++
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.sdf
*.pdb
*.opendb

# Visual Studio
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Dd]ebug*/
[Rr]elease*/
*.user
*.suo
*.userosscache
*.sln.docstates

# macOS
.DS_Store
._*

# Windows
Thumbs.db
ehthumbs.db

# 忽略草稿
source/_drafs/**